body{
  background-image: url("background.jpg");
  background-size: cover;
}

.title {
  color: white;
  font-family: "Muli", sans-serif;
}

.font1 {
  font-family: "Muli", sans-serif;
}

.font2{
  font-family: 'Quicksand', sans-serif;
}

.font3{
  font-family: 'Assistant', sans-serif;
}

.navtabs {
  transition: all, 0.15s;
  font-family: "Quicksand", sans-serif;
  list-style-type: none;
  padding-left: 0;
  padding-top: 5px;
  width: 100%;
  border-bottom: 1px solid #49054f;
}

.navtabs li {
  display: inline-block;
  padding-right: 15px;
  font-size: 20px;
}

.navtabs li a {
  color: #5a45ba;
}

.navtabs li a:hover {
  color: #4a35aa;
}

.text {
  font-family: 'Assistant', sans-serif;
  color: #bbb;
}

.dice{
  height: auto;
}

img {
  width: 100%;
}


.lightbg {
  background-color: rgba(70,70,70,0.1);
}
